.centerdiv {
    height: 500px;
    margin-left: 250px;
    margin-right: 250px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      